<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Alunos</title>
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Lista de Alunos</h1>
    <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Rm</th>
            <th>Email</th>
        </tr>
        <tr th:each="pessoa : ${status}">
            <td th:text="${pessoa.nome}"></td>
            <td th:text="${pessoa.rm}"></td>
            <td th:text="${pessoa.email}"></td>
            <td>
                <a th:href="@{/aluno/editar/}+${pessoa.id}">Editar</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
