<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Calculadora de Faltas - FIAP</h1>
    <p th:if="${porcentagemMedia != null}">
        A porcentagem de presença do aluno é: <span th:text="${porcentagemMedia}"></span><br>
        <span th:text="${porcentagemMedia > 75 ? 'O aluno não repitirá por falta!' : 'Vish! deveria ter vindo mais às aulas..'}"></span><br>
        Total de aulas que o aluno faltou: <span th:text="${fal.faltas}"></span><br>
    </p>

    <form method="post" th:action="@{/calculadora/porcentagem}">
        <div>
            <label>Quantas vezes o aluno faltou esse ano:</label>
            <input type="number" name="faltas" required>
        </div>
        <button type="submit">Calcular</button>
    </form>
</div>
</body>
</html>
